/* line 1, (__TEMPLATE__) */
* {
  margin: 0;
  padding: 0;
}

/* line 5, (__TEMPLATE__) */
body {
  color: #222222;
  font-family: Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

/* line 11, (__TEMPLATE__) */
#wrapper {
  position: relative;
  width: 960px;
  margin: 30px auto 90px auto;
}

/* line 16, (__TEMPLATE__) */
button, #bpm {
  background: #999999;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  padding: 4px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 27, (__TEMPLATE__) */
#bpm {
  padding: 5px 5px 4px 5px;
}
/* line 30, (__TEMPLATE__) */
#bpm input {
  background: #999999;
  border: none;
  color: #dfdfdf;
  font-size: 16px;
  width: 40px;
}

/* line 37, (__TEMPLATE__) */
#visualization {
  margin-bottom: 20px;
}

/* line 41, (__TEMPLATE__) */
#board ul {
  border-top: 8px solid white;
  float: left;
  font-size: 12px;
  width: 50px;
  margin: 5px;
  list-style: none;
}
/* line 49, (__TEMPLATE__) */
#board ul li {
  background: #cccccc;
  color: #666666;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
/* line 59, (__TEMPLATE__) */
#board ul li:hover {
  background: #c3c3c3;
}
/* line 61, (__TEMPLATE__) */
#board ul li.selected {
  background: #52a942;
  color: white;
}
/* line 65, (__TEMPLATE__) */
#board ul.active {
  border-top: 8px solid #30b1f9;
}
