!!! Strict
%html
  %head
    %title Reland
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/site.css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/site.js'}
  %body
    #wrapper
      = yield

    %script{:type => 'text/javascript', :src => 'http://api.relay.io/client/24820E7E-9793-476A-9E58-5145E0DC0DEC.js'}
    %script{:type => 'text/javascript'}
      :plain
        var relay = new RelayClient("24820E7E-9793-476A-9E58-5145E0DC0DEC");
        relay.getUpdates(function(item) {
            selectPad(item);
        });
